{
	"env": {
		"targets": {
			"node": "12"
		},
		"mode": "usage",
		"coreJs": "3.26",
		"shippedProposals": true
	},
	"jsc": {
		"parser": {
			"syntax": "ecmascript"
		},
		"target": "es2018"
	},
	"module": {
		"type": "commonjs"
	}
}
